@import "../../vendor/bootstrap/stylesheets/bootstrap";


body {
    padding-top: 20px;
}

textarea {
    resize: vertical;
}

.ovn-panel-collapsible {
    .panel-heading:hover {
        cursor: pointer;
    }

    &.ovn-collapsed {
        .panel-heading {
            border-bottom: none;
        }
    }
}

.ovn-panel-content-wrapper {
    overflow: hidden;
    transition: height .5s;

    > div > .list-group {
        margin-bottom: 0;

        .list-group-item {
            border-width: 1px 0;
            border-radius: 0;
        }

        &:first-child {
            .list-group-item:first-child {
                border-top-width: 0;
            }            
        }

        &:last-child {
            .list-group-item:last-child {
                border-bottom: 0;
                border-bottom-right-radius: 3px;
                border-bottom-left-radius: 3px;
            }
        }
    }

    > div + .list-group {
        .list-group-item:first-child {
            border-top-width: 0;
        }
    }
}

.ovn-scene-toolbar {
    display: inline-block;
}

.ovn-scene-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

    &:hover, &.ovn-active {
        padding-left: 10px;
        border-left: 5px solid !important;
    }
}

.ovn-media-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    padding: 5px 0;
    font-size: 24px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    box-shadow: inset 0px 50px 100px -50px #fff;

    &.ovn-sound {
        background-color: $brand-success;
    }
}

.ovn-sound-row:hover {
    cursor: pointer;
}