@import "../../vendor/bootstrap/stylesheets/bootstrap";


body {
    padding-top: 20px;
}

.ovn-panel-collapsible {
    .panel-heading:hover {
        cursor: pointer;
    }

    &.ovn-collapsed {
        .panel-heading {
            border-bottom: none;
        }
    }
}

.ovn-panel-content-wrapper {
    overflow: hidden;
    transition: height .5s;

    > div > .list-group {
        margin-bottom: 0;

        .list-group-item {
            border-width: 1px 0;
            border-radius: 0;
        }

        &:first-child {
            .list-group-item:first-child {
                border-top-width: 0;
            }            
        }

        &:last-child {
            .list-group-item:last-child {
                border-bottom: 0;
                border-bottom-right-radius: 3px;
                border-bottom-left-radius: 3px;
            }
        }
    }

    > div + .list-group {
        .list-group-item:first-child {
            border-top-width: 0;
        }
    }
}

.ovn-scene-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}